body {
  color: white;
  text-align: center;
}
p {
  font-size: 14px;
  margin-bottom: 20px;
}
h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 40px;
  margin: 0;
}
h2 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 60px;
}
.btn-outline-light {
  background: white;
  color: #0d6efd;
}
.btn-outline-light:hover {
  border: 1px solid #0b5fd6;
  color: #0b5fd6;
}
.card-body {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0;
}
.container {
  max-width: 600px;
}
.container.city-card {
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 20px;
}
.container.next-days {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 20px;
}
.container.search {
  margin-top: 60px;
  padding: 0;
}
.container.temperature-block {
  height: 66px;
  padding-left: 70px;
  padding-right: 0;
}
.date {
  margin: 10px 0;
}
.hours {
  font-weight: bold;
  margin-bottom: 0;
}
#description {
  position: relative;
  right: 6px;
}
.footer-link {
  color: #0d6efd;
  text-decoration: none;
}
.footer-link:hover {
  color: #0d6efd;
  cursor: pointer;
  font-weight: bold;
}
.icon img {
  bottom: 2px;
  height: 60px;
  position: relative;
  width: 60px;
}
.min-max {
  margin-bottom: 0;
}
.next-days {
  margin-top: 10px;
  padding: 0;
}
.other-measurements {
  list-style: none;
  margin: 0;
  padding: 0;
}
.other-measurements li {
  border-right: 1px solid white;
  display: inline;
  font-size: 16px;
  padding: 0 10px;
}
.other-measurements li:last-of-type {
  border-right: none;
}
.small {
  font-size: 12px;
}
.temperature {
  text-align: right;
  padding: 0;
}
.units {
  list-style-type: none;
  padding-left: 2px;
  position: relative;
  text-align: left;
  top: 4px;
}
.units li {
  display: inline;
}
.units a {
  color: white;
  cursor: default;
  text-decoration: none;
}
.units a.active {
  color: white;
  cursor: default;
  font-weight: bold;
  text-decoration: none;
}
.units a:hover {
  cursor: pointer;
}
.weather-description {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.weather-description li {
  display: inline;
  font-size: 24px;
}
@media (max-width: 576px) {
  .card-body {
    border-right: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    height: 46px;
    position: relative;
  }
  .card-body p {
    font-size: 14px;
  }
  .container.next-days {
    border: none;
    margin: 0 0 6px 0;
  }
  .container.search {
    margin: 40px 0 10px 0;
    padding: 0 10px;
  }
  .date {
    margin-bottom: 20px;
  }
  .hours {
    float: left;
    padding: 14px 0 0 10px;
  }
  .min-max {
    float: right;
    padding: 14px 10px 0 0;
  }
  .other-measurements li {
    margin: 0;
  }
  .unit-link {
    color: white;
  }
  .weather-icon {
    left: 50%;
    margin-top: 12px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
